/* FONTES */
@import url('https://fonts.googleapis.com/css2?family= EB+ Garamond :ital@1 & family= Orbitron:wght@500 & display=swap');
@import url('https://fonts.googleapis.com/css2?family= Victor+Mono:ital,wght@0,100;1,400 & display =swap');

$fonte-principal: 'EB Garamond', serif, 'Orbitron', sans-serif;
$fonte-secundaria: 'Victor Mono', monoespaçado;
$pequena: 14px;
$media: 18px;
$grande: 28px;
$extra-grande: 60px;


/* CORES */
$cor-principal: #8231c7;
$cor-secundaria: #b00808df;
$cor-terceira: #ffffff;
$marrom:#5e3f11;
$marrom-medio: #8f6321;
$azul: #162378;
$branco-esmaecido: #f6f7f0;
$cinza-claro: #D3D3D3;
$cinza-medio: #6c6d71;
$cinza-escuro: #1f2323;
$verde-envelhecido: #582585;
$preto: #000000;
  

/* SOMBRAS DOS PERSORNAGENS */
$card-shadow: 0 0px 0px rgba(255, 255, 255, 0.973), 0 0px 0px rgba(255, 253, 253, 0.929);
$card-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
$card-shadow-hover: 0 8px 16px rgba(255, 254, 254, 0.91), 0 10px 10px rgba(255, 255, 255, 0.9);



