<div class="produto">
    <div class="container">
        <section class="historia-personagem">
            <img class="freddy" [src]="foto1" alt="Foto de {{ titulo }}"/>
            <div class="descricao">
                <h2>{{ titulo }}</h2>
                <ul>
                    <li>{{ description1 }}</li>
                </ul>
                <img class="imagem-freddy" [src]="foto2" alt="imagem de gif do freddy">

                <ul>
                    <li>{{ description2 }}</li><hr>
                </ul>
  
                <p class="compre">COMPRAR</p>
            </div>
        </section>
    </div>
</div>




